.argent {
    display: flex;
    justify-content: right;

}

.argent .thearg {
    min-width: 250px;
    padding: 10px;
    border-radius: 5px;
}

.thearg p {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.thearg label {
    margin: 0;
}

#entrent {
    border: 1px solid green;
}

#depense {
    border: 1px solid red;
}

.argent .thearg,
.argent label {
    color: #5c5560 !important;
}


/* form */
#searchform {
    display: flex;
    gap: 10px;
}

.group_pv {
    width: 50%;
}

#searchform input  , 
#searchform select {
    height: 42.6px !important;
}

.group_form button {
    height: 43.6px !important;
    margin-top: 31px;
    width: 131.633px;
    margin-inline: 15px;
}

@media all and (max-width : 1018px) {
    #searchform {
        flex-wrap: wrap;
    }
    .group_form {
        width: 49%;
    }
}

@media all and (max-width : 932px) {
    .group_form button {
        height: 41px !important;
        margin-top: 31px;
    }
}

@media all and (max-width : 768px) {
    .group_form button {
        height: 36.6px !important;
        margin-top: 27px;
    }
}

@media all and (max-width : 456px) {
    .group_form {
        width: 100%;
    }

    .group_form div.ui.search.selection.dropdown {
        width: 100% !important;
    }

    .group_form button {
        margin-top: 0;
        /* display: block ; */
        margin-inline: 11px;
        margin-left: auto;
    }
}

/* form */


@media all and (max-width : 386px) {
    .thearg {
        width: 100%;
    }
}