<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ong_aim/

    # Redirige tout vers index.php sauf les vrais fichiers/dossiers
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>